<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Entregar Paquete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-alert
  trigger="confirmation"
  header="{{messagetitle}}"
  message="{{message}}"
  [buttons]="alertButtons"
></ion-alert>



<ion-modal id="tableModal" [isOpen]="isModalOpen" [canDismiss]="canDismiss">
  <ng-template>
    <app-search-result (closeModal)="closeModal($event)" [tableName]="this.searchOptionSelected"> </app-search-result>
  </ng-template>
</ion-modal>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Entregar Paquete</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid [fixed]="true">
    <form [formGroup]="EntregarPaqueteForm" (ngSubmit)="entregarPaquete()">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label> Selecciona un paquete  </ion-label>
            <ion-button (click)="changeSearchOptionSelected('Paquetes')"> Buscar </ion-button>
          </ion-item>
          <ion-item>
            <ion-label> Paquete seleccionado: {{EntregarPaqueteForm.value.IDPaquetes}} </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label> Selecciona la fecha de recibido </ion-label>
            <ion-datetime-button datetime="datetimeE"></ion-datetime-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button id="confirmation" type="submit" expand="block" [disabled]="!EntregarPaqueteForm.valid"> Entregar </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>


<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime value="{{FechaEntrega}}" id="datetimeE" [showDefaultButtons]="true"></ion-datetime>
  </ng-template>
</ion-modal>

