<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cancelar Paquete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-modal id="tableModal" [isOpen]="isModalOpen" [canDismiss]="canDismiss">
  <ng-template>
    <app-search-result (closeModal)="closeModal($event)" [tableName]="this.searchOptionSelected"> </app-search-result>
  </ng-template>
</ion-modal>

<ion-alert
  trigger="confirmation"
  header="{{messagetitle}}"
  message="{{message}}"
  [buttons]="alertButtons"
></ion-alert>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cancelar Paquete</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid [fixed]="true">
    <form [formGroup]="cancelarPaqueteForm" (ngSubmit)="deletePaquete()">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label> Selecciona un paquete  </ion-label>
            <ion-button  (click)="changeSearchOptionSelected('Paquetes')"> Buscar </ion-button>
          </ion-item>
          <ion-item>
            <ion-label> Paquete seleccionado: {{cancelarPaqueteForm.value.IDPaquetes}} </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" [disabled]="!cancelarPaqueteForm.valid"> Cancelar </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
