<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Actualizar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Actualizar Cliente</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-modal id="tableModal" [isOpen]="isModalOpen" [canDismiss]="canDismiss">
    <ng-template>
      <app-search-result (closeModal)="closeModal($event)" [tableName]="this.searchOptionSelected"> </app-search-result>
    </ng-template>
  </ion-modal>
  

  <ion-grid [fixed]="true">
    <form [formGroup]="clienteForm" (ngSubmit)="updateCliente()">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label> Selecciona a un Cliente  </ion-label>
            <ion-button (click)="changeSearchOptionSelected('Clientes')"> Buscar </ion-button>
          </ion-item>
          <ion-item>
            <ion-label> Cliente seleccionado: {{clienteForm.value.IDCliente}} </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-item>
            <ion-input maxlength="40" formControlName="Nombre" label="Nombre" labelPlacement="floating"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-input maxlength="40" formControlName="ApellidoP" label="Apellido Paterno" labelPlacement="floating"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-input maxlength="40" formControlName="ApellidoM" label="Apellido Materno" labelPlacement="floating"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-input maxlength="40" formControlName="Correo" label="Correo" labelPlacement="floating"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-input maxlength="12" formControlName="Telefono" type="digit" label="Teléfono" labelPlacement="floating"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button [disabled]="!clienteForm.valid" type="submit" expand="block"> Actualizar </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
